/* Container Layout */
.account-container {
  max-width: 1200px;
  margin: 2.5rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200%;
}

.account-container h2 {
  width: 60%;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  font-weight: 300;
  align-self: center;
  padding-left: 1.2rem;
}

/* Account Content */
.account-content, .account-update {
  /* background: var(--card-background); */
  border-top: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  width: 60%;
}

.account-update {
  margin-top: 2rem;
  padding: 1.2rem;

}

/* Account Sections */
.account-section {
  padding: 1.2rem;
  border-bottom: 1px solid var(--border-color);
}

.account-section:last-child {
  border-bottom: none;
}

/* Account Rows */
.account-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.account-row:last-child {
  margin-bottom: 0;
}

/* Text Styles */
.account-label, .form-group label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.account-value {
  color: var(--text-color);
  /* font-size: 1rem; */
  font-weight: 500;
}

.account-balance {
  /* font-size: 0.9rem; */
  font-weight: 500;
}

/* Form Styles */
.balance-form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.form-group label {
  white-space: nowrap;
  margin-top: 6px;
}

.input-group {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  flex: 1;
}

.currency-symbol {
  padding: 0.5rem 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid var(--border-color);
}

.input-group input {
  flex: 1;
  background: none;
  border: none;
  padding: 0.5rem;
  color: var(--text-color);
  /* font-size: 0.8rem; */
}

.form-group .submit-btn {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  /* font-size: 0.8rem; */
  cursor: pointer;
  white-space: nowrap;
}

/* Messages */
.error-message, .success-message {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
}

.error-message {
  color: #ff4444;
}

.success-message {
  color: var(--primary-color);
}

/* Loading State */
.loading {
  padding: 3rem;
  text-align: center;
  color: var(--text-color);
  font-size: 1.1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .account-container {
    padding: 0 1rem;
    margin: 1rem auto;
  }

  .account-content {
    flex-direction: column;
  }

  .account-section {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  .account-section:last-child {
    border-bottom: none;
  }
} 
